select {
    font-size:0.5em;
}

tr, td {
    vertical-align:center;
/*    border:1px dashed green; */
}

#table-sudoku {
   /* width:300px;*/
}

table {
    border:1px solid black;
    border-spacing: 0px;
}


button {
}

textarea {
    font-family:"Courier New";
}
